@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root {
    --cyan: hsl(179, 62%, 43%);
    --bright-yellow: hsl(71, 73%, 54%);
    --light-gray: hsl(204, 43%, 93%);
    --grayish-blue: hsl(218, 22%, 67%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Karla', sans-serif;
    height: calc(100vh - 1px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--light-gray);
    font-size: 16px;
}


li {
    list-style: none;
}

.container {
    margin: 0 auto;
    max-width: 300px;
    display: grid;
    grid-template-columns: 100%;
    box-shadow: 0 0 14px 14px #00000024;
    overflow: hidden;
    border-radius: 8px;
}

.item {
    padding: 20px;
}

.item-1 {
    background-color: var(--light-gray);
}

.item-1 h4 {
    color: var(--cyan);
    margin-bottom: 20px;
}

.item-1 p {
    color: var(--grayish-blue);
}

.item-1 h5 {
    color: var(--bright-yellow);
    margin-bottom: 20px;
}

.item-2 {
    background-color: var(--cyan);
}

.item-2 h4 {
    color: var(--light-gray);
    margin-bottom: 20px;
}

.item-2 .pricing {
    display: flex;
    align-items: center;
}

.pricing span {
    color: var(--light-gray);
    font-weight: 700;
    font-size: 30px;
    margin-right: 20px;
}

.pricing p {
    color: hsl(204, 45%, 90%);
    text-align: center;
}

.subscription-desc {
    color: var(--light-gray);
    margin-bottom: 20px;
}

.item-2 button {
    border: none;
    color: var(--light-gray);
    font-weight: 700;
    background-color: var(--bright-yellow);
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.item-3 {
    background-color: hsl(179, 62%, 50%);
}

.item-3 h4{
    color: var(--light-gray);
    margin-bottom: 20px;
}

.item-3 ul li {
    color: var(--light-gray);
    line-height: 25px;
}

@media (max-width: 412px) {
    .container {
        max-width: 87%;
    }
}

@media (max-width: 280px) {
    .container {
        max-width: 87%;
    }

    .item-1 h4{
        margin-bottom: 5px;
    }

    .item-1 h5 {
        margin-bottom: 5px;
    }

    .item-2 h4{
        margin-bottom: 5px;
    }

    .subscription-desc {
        margin-bottom: 5px;
    }

    .item-3 h4 {
        margin-bottom: 5px;
    }

    .item-3 ul li {
        line-height: normal;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 550px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "first first"
                            "second third";
    }

    .item-1 {
        grid-area: first;
    }

    .item-2 {
        grid-area: second;
    }

    .item-2 p {
        margin-top: 10px;
    }

    .item-2 button {
        margin-top: 5px;
    }

    .item-3 {
        grid-area: third;
    }
}